<h1>This is the homepage for our site!</h1>

<h2>STATIONS LIST!</h2>

<ul>
  <% @stations.each do |station| %>
  <li><a href="/stations/<%= station.id %>"><%= station.name %></a></li>
  <% end %>
</ul>

<nav>
  <ul>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  </ul>
</nav>

<div class="row">
  <% flash.each do |key, value| %>
    <div data-alert class="alert-box radius flash <%= key %>">
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
</div>

<%= link_to "Add New Station", new_station_path %>
