<div id="twitter-link">
  <%=link_to "Check us out on Twitter", "https://twitter.com/subwayreviews4u"%>
</div>

<div class="centered">
  <h1 class="HomeHeader"><strong>Tube View</strong></h1>
  <h2 class="HomeHeader">A Review Site for Subway Stations!</h2>
</div>

<div class="homepic">
  <img
  src="http://subwaynut.com/mbta/green_line/kenmore/kenmore13.jpg"
  alt="http://cdn1.bostonmagazine.com/wp-content/uploads/2013/09/BUja1GeCAAEQISH.jpg-large.jpeg"
  />
</div>

<div class="stations-list">

    <h2 class="StationsHeader">Stations</h2>

    <ul>
      <% @stations.each do |station| %>
      <li><a href="/stations/<%= station.id %>"><%= station.name %></a></li>
      <% end %>
    </ul>

    <%= paginate @stations %>

    <% if user_signed_in? %>
      <%= link_to "Add New Station", new_station_path %>
    <% end %>
  </br>
</div>
