</br>
<h1><%= @station.name %></h1>
</br>

<h5> Address: <%= @station.address %> </h5>
<h5> City: <%= @station.city %> </h5>
<h5> State: <%= @station.state %> </h5>
<h5> Zip Code: <%= @station.zip %> </h5>
<h5> Rating: <%= @station.average_rating %> </h5>

  </br></br>

<% if user_signed_in? %>
  <%= link_to "Add Review", new_station_review_path(@station) %>
<% end %>

  </br></br>

<h2>Reviews:</h2>
  </br>
<ol>

<% @reviews.each do |review| %>
  <li><%= review.body %></li>
  <div class="review-<%=review.id%>" id="review-<%=review.id%>">

    <%= "(#{review.rating}/5) #{review.user.email} says:" %>
    <%= review.body %>
    <div class="votes inline">
      Upvotes: <%= review.up_votes%>
      Downvotes: <%= review.down_votes%>
    </div>
    <% if Vote.where(user: current_user, review: review) == []%>
      <div class="vote inline" id="upvote">
        <%= button_to "  upvote  ", station_review_path(@station,review), method:"patch", remote: true, params: {up: true}%>
      </div>
      <div class="vote inline" id="downvote">
        <%= button_to "downvote", station_review_path(@station,review), method:"patch", remote: true, params: {up: false}%>
      </div>
    <% elsif Vote.where(user: current_user, review: review)[0].up == true%>
      <div class="vote inline" id="upvoted">
        <%= button_to "  upvote  ", station_review_path(@station,review), method:"patch", remote: true, params: {up: true}%>
      </div>
      <div class="vote inline" id="downvote">
        <%= button_to "downvote", station_review_path(@station,review), method:"patch", remote: true, params: {up: false}%>
      </div>
    <%else%>
      <div class="vote inline" id="upvote">
        <%= button_to "  upvote  ", station_review_path(@station,review), method:"patch", remote: true, params: {up: true}%>
      </div>
      <div class="vote inline" id="downvoted">
        <%= button_to "downvote", station_review_path(@station,review), method:"patch", remote: true, params: {up: false}%>
      </div>
    <%end%>
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Delete Review', station_review_path(@station, review), data: { confirm: 'Are you sure?' }, method: :delete %>
  <% end %>
<% end %>

</ol>

<%= link_to "Back to Home Page", root_path %>

<div>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Delete Station', station_path(@station), data: { confirm: 'Are you sure?' }, method: :delete %>
  <% end %>
</div>
