</br>
<h1><%= @station.name %></h1>
</br>

<h5> Address: <%= @station.address %> </h5>
<h5> City: <%= @station.city %> </h5>
<h5> State: <%= @station.state %> </h5>
<h5> Zip Code: <%= @station.zip %> </h5>
<h5> Rating: <%= @station.average_rating %> </h5>

  </br></br>
<% if user_signed_in? %>
  <% if Review.where(user: @user, station: @station).size == 0%>

    <%= form_for [@station, @review] do |f| %>
      <%= f.label :rating, "Rate this Station" %>
      <%= f.select(:rating, (1..5).to_a.reverse) %>
      <%= f.hidden_field(:user_id, :value => @user.id) %>
      <%= f.submit "Submit" %>
    <% end %>

    <%= link_to "Add Review", new_station_review_path(@station) %>
  <% else %>
    <%= link_to 'Edit Review', edit_station_review_path(@station, Review.where(user: @user, station: @station).first) %>
    <%= link_to 'Delete Review', station_review_path(@station, Review.where(user: @user, station: @station).first), data: { confirm: 'Are you sure?' }, method: :delete %>
  <% end %>
<% end %>

</br></br>

<h2>Reviews:</h2>
  </br>
<ol>

<% @reviews.each do |review| %>

  <% if review.body.nil? or review.body == "" %>
    <% break %>
  <% end %>

  <li><%= review.body %></li>
  <div class="review-<%=review.id%>" id="review-<%=review.id%>">

    <%= "(#{review.rating}/5) #{review.user.email} says:" %>
    <%= review.body %>
    <div class="votes">
      Upvotes: <%= review.up_votes%>
      Downvotes: <%= review.down_votes%>
    </div>

    <div class="vote" id="upvote">
      <%= button_to "upvote", vote_station_review_path(@station,review), method:"patch", remote: true, params: {up: true}%>
    </div>
    <div class="vote" id="downvote">
      <%= button_to "downvote", vote_station_review_path(@station,review), method:"patch", remote: true, params: {up: false}%>
    </div>

    <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Delete Review', station_review_path(@station, review), data: { confirm: 'Are you sure?' }, method: :delete %>
        <%= link_to 'Edit Review', edit_station_review_path(@station, review) %>
      <% end %>
  </div>
<% end %>

<!--
░░░░░░░░░░░░▄▐░░░░░░<br>
░░░░░░▄▄▄░░▄██▄░░░░░<br>
░░░░░▐▀█▀▌░░░░▀█▄░░░<br>
░░░░░▐█▄█▌░░░░░░▀█▄░<br>
░░░░░░▀▄▀░░░▄▄▄▄▄▀▀░<br>
░░░░▄▄▄██▀▀▀▀░░░░░░░<br>
░░░█▀▄▄▄█░▀▀░░░░░░░░<br>
░░░▌░▄▄▄▐▌▀▀▀░░░░░░░<br>
▄░▐░░░▄▄░█░▀▀░░░░░░░ U HAVE BEEN SPOOPED BY THE<br>
▀█▌░░░▄░▀█▀░▀░░░░░░░<br>
░░░░░░░▄▄▐▌▄▄░░░░░░░<br>
░░░░░░░▀███▀█░▄░░░░░<br>
░░░░░░▐▌▀▄▀▄▀▐▄░░░░░ SPOOPY SKILENTON<br>
░░░░░▐▀░░░░░░▐▌░░░░░<br>
░░░░░░█░░░░░░░░█░░░░<br>
░░░░░▐▌░░░░░░░░░█░░░<br>
░░░░░█░░░░░░░░░░▐▌░░<br> -->

</ol>
<center>
  <div class="bottom-bar-show">
     | <%= link_to "Back to Home Page", root_path %> |
        <% if user_signed_in? %>
          <% if @station.user == current_user || current_user.admin?%>
            <%= link_to 'Delete Station', station_path(@station), data: { confirm: 'Are you sure?' }, method: :delete %> |
            <%= link_to 'Edit Station', edit_station_path(@station) %> |
          <% end %>
        <% end %>
  </div>
</center>
