<h1>This is where we'll view a specifc station with the reviews!</h1>

<h4>Station: </h4>

<h1><%= @station.name %></h1>

<h5> Address: <%= @station.address %> </h5>
<h5> City: <%= @station.city %> </h5>
<h5> State: <%= @station.state %> </h5>
<h5> Zip Code: <%= @station.zip %> </h5>

  </br></br>

<% if user_signed_in? %>
  <%= link_to "Add Review", new_station_review_path(@station) %>
<% end %>

  </br></br>
  
<%= link_to "Back to Home Page", root_path %>

<ol>

<% @reviews.each do |review| %>
  <li><%= review.body %></li>
<% end %>

</ol>
