<!DOCTYPE html>
<html>
<head>
  <title>SubwayReviewSite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <% flash.each do |key, value| %>
      <div data-alert class="alert-box radius flash <%= key %>">
        <%= value %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
